* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  height: 3rem;
  width: 20%;
  border-radius: 12rem;
  padding: 10px;
  margin: 2rem 0 2rem 0;
  padding-left: 1rem;
  text-decoration: solid;
}

.search-button {
  height: 3rem;
  width: 70px;
  border-radius: 0 12rem 12rem 0;
  margin-left: -20px;
  border-left: none;
}
